@keyframes blink {
  0%,
  100% {
    text-decoration: underline;
  }
  50% {
    text-decoration: none;
  }
}

.currentWord {
  display: inline-block;
  background-color: var(--green-3);
  border-radius: var(--radius-2);
}

.cursor {
  animation: blink 1s infinite;
}
